.contact-hero {
    background-color: $dark;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .contact-hero-title {
        padding-top: 60px;
        text-align: center;

        h4 {
            font-size: 38px;
            color: #fff;
            margin-bottom: 1.2rem;
        }
    }
}
.contact-form {
    .lead {
        font-size: 1rem;
    }
    h2 {
        color: #000;
    }
    form {
        input, textarea {
            &::placeholder {
                font-size: 12px;
            }
        }
    }
}